@layer reset {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
        margin:  0;
        padding: 0;
    }

    html {
        -moz-text-size-adjust: none;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }

    body {
        line-height: 1;
        min-block-size: 100vh;
    }

    h1,
    h2,
    h3 {
        text-wrap: balance;
    }

    h1, 
    h2, 
    h3, 
    p,
    span,
    input,
    button,
    textarea,
    select {
        font: inherit;
    }

    img,
    picture,
    svg {
        max-inline-size: 100%;
        display: block;
    }

}

@layer root {
    :root {
        --clr-white:      #FFFFFF;
        --clr-gray-100:   #E8EFF2;
        --clr-gray-600:   #7B8BAD;
        --clr-blue-950:   #162542;
        --clr-orange-300: #FF9B62;
        --clr-orange-500: #F16718;

        --color-primary:        var(--clr-white);
        --color-text-primary:   var(--clr-blue-950);
        --color-text-secondary: var(--clr-gray-600);
        --color-bg-primary:     var(--clr-gray-100);
        --color-accent-primary:       var(--clr-orange-500);
        --color-accent-primary-hover: var(--clr-orange-300);

        --font-family-primary: "Barlow", sans-serif;
    }
}

@layer base {
    @font-face {
        font-display: swap; 
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 500;
        src: url('../fonts/barlow-v12-latin-500.woff2') format('woff2'); 
    }
      
    @font-face {
        font-display: swap; 
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 900;
        src: url('../fonts/barlow-v12-latin-900.woff2') format('woff2');
    }
}



