@layer reset {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
        margin:  0;
        padding: 0;
    }

    html {
        -moz-text-size-adjust: none;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }

    body {
        line-height: 1;
        min-block-size: 100vh;
    }

    h1,
    h2,
    h3 {
        text-wrap: balance;
    }

    h1, 
    h2, 
    h3, 
    p,
    span,
    input,
    button,
    textarea,
    select {
        font: inherit;
    }

    img {
        display: block;
    }
}

@layer root {
    :root {
        --clr-white:      #FFFFFF;
        --clr-gray-100:   #E8EFF2;
        --clr-gray-600:   #7B8BAD;
        --clr-blue-950:   #162542;
        --clr-orange-300: #FF9B62;
        --clr-orange-500: #F16718;

        --color-primary:   var(--clr-white);
        --color-secondary: var(--clr-blue-950);
        --color-text-primary: var(--clr-gray-600);
        --color-bg-primary: var(--clr-gray-100);
        --color-accent:       var(--clr-orange-500);
        --color-accent-hover: var(--clr-orange-300);

        --font-family-primary: "Barlow", sans-serif;
    }
}

@layer font-face {
    @font-face {
        font-display: swap; 
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 500;
        src: url('../fonts/barlow-v12-latin-500.woff2') format('woff2'); 
    }

    @font-face {
        font-display: swap;
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 700;
        src: url('../fonts/barlow-v12-latin-700.woff2') format('woff2'); 
    }
  
    @font-face {
        font-display: swap; 
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 900;
        src: url('../fonts/barlow-v12-latin-900.woff2') format('woff2');
    }
}

h1,
h2,
h3,
a, 
span {
    text-transform: uppercase;
}

h1,
h2,
h3 {
    font-weight: 900;
    color: var(--color-secondary);
}

p,
a,
span {
    font-size: 1rem;
    line-height: 1.625rem;
}

a,
span {
    font-weight: 700;
}

body {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-primary);
    font-family: var(--font-family-primary);
    font-weight: 500;
    color: var(--color-text-primary);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    line-height: 2.25rem;  
}

h3 {
    font-size: 1.5rem;
    line-height: 1.75rem;
}

a {
    display: grid;
    place-items: center;
    width: 9.375rem;
    height: 3rem;
    text-decoration: none;
    border-radius: 0.5rem;
}

.wrapper {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
}

.button-primary {
    background-color: var(--color-bg-primary);
    color: var(--color-secondary);
}
    .button-primary:hover {
        background-color: var(--color-secondary);
        color: var(--color-primary);
    }

.button-secondary {
    background-color: var(--color-accent);
    color: var(--color-primary);
  
}
    .button-secondary:hover {
        background-color: var(--color-accent-hover);
    }

.hero {
    position: relative;
    padding-left: 1.5rem;
    margin-bottom: 1.5rem;
}
    .hero__inner {
        padding-right: 1.5rem;
        max-width: 23.75rem;
    }
    .hero__paragraph {
        margin-top: 2rem;
        margin-bottom: 2rem;
        
    }
    .hero__order-release {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 4rem;
    }
    .hero__image {
        width: 100%;
        border-radius: 1.25rem 0 0 1.25rem;
    }

.secondary-section {
    padding-right: 1.5rem;
}

.images {
    display: flex;
    gap: 1.5rem;
    
}

    .images__orange-wrapper {
        background-color: var(--color-accent);  
        border-radius: 0 1.25rem 1.25rem 0;
    }
        .images__orange {
            width: 100%;
            mix-blend-mode: multiply;
            opacity: 0.75;
            border-radius: 0 1.25rem 1.25rem 0;
        }
    .images__clear {
        width: 100%;
        border-radius: 1.25rem;
    }

.mechanical {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 4.5rem;
    padding-left: 1.5rem;
    text-align: center;
}

.features-section {
    display: grid;
    row-gap: 4rem;
    margin-top: 7rem;
}

.feature {
    display: grid;
    place-items: center; 
    text-align: center;
}
    .feature__header {
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }

.icons {
    display: grid;
    place-items: center;
    width: 4.063rem;
    height: 4.063rem;
    background-color: var(--color-accent);
    border-radius: 1rem;
}

@media (width >= 30rem) {
    .hero__image {
        padding-right: 1.5rem;
    }

    .secondary-section {
        padding-left: 1.5rem;
    }
}

@media (width >= 48rem) {
    body {
        max-width: 55rem;
    }

    a {
        width: 10.938rem;
        height: 3.625rem;
    }

    .wrapper {
        padding-left:  2.5rem;
        padding-right: 2.5rem;
    }

    .header { 
        margin-top: 2.5rem;
    }

    .hero {
        display: flex;
        align-items: center;
        width: 100%;
        height: 26.563rem;
        padding-left: 2.5rem;
        margin-bottom: 2.5rem;
    }
        .hero__inner {
            max-width: 21.25rem;
            padding-right: 0;
        }
        .hero__paragraph {
            margin-bottom: 2.5rem;
        }
        .hero__order-release {
            margin-bottom: 0;
        }
        .hero__image {
            position: absolute;
            top: 0;
            right: -9.625rem;
            width: 29.875rem;
            padding-right: 0;
        }

    .secondary-section {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
    
    .images {
        gap: 1.875rem;
        
    }
        .images__orange-wrapper,
        .images__orange {
            border-radius: 1.25rem;
        }

    .mechanical {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 6rem;
        padding-left: 0;
        text-align: left;
    }

    .features-section {
        display: grid;
        grid-template-columns:  repeat(2, 1fr);
        column-gap: 2rem;
        row-gap: 4.5rem;
        margin-top: 8.875rem;
    }
    
    .feature {
        display: grid;
        place-items: initial;
        text-align: left;
    }
        .feature__header {
            margin-top: 2.5rem;
            margin-bottom: 1.5rem;
            
        }
}

@media (width >= 69.375rem) {
    body {
        max-width: 74.375rem;
    }

    h1 {
        font-size: 3.5rem;
    }

    .header { 
        margin-top: 3.5rem;
        margin-bottom: 5rem;
    }

    .hero {
        justify-content: space-between;
        height: 30rem;
        padding-right: 2.5rem;
        margin-bottom: 1.875rem;
    }
        .hero__paragraph {
            margin-top: 1.5rem;
        }
        .hero__image {
            position: initial;
            width: 33.75rem;
            border-radius: 1.25rem;
        }

    .secondary-section {
        display: flex;
        align-items: center;
        gap: 7.813rem;
    }

    .mechanical {
        align-items: initial;
        flex-direction: column;
        justify-content: center;
        gap: 1.5rem;
        max-width: 15.938rem;
        margin-top: 0;
    }

    .features-section {
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
        margin-top: 10.5rem;
    }

    .feature__header {
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }
}
