@layer reset {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
        margin:  0;
        padding: 0;
    }

    html {
        -moz-text-size-adjust: none;
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
    }

    body {
        min-block-size: 100vh;
    }

    h1,
    h2,
    h3 {
        text-wrap: balance;
    }

    h1, 
    h2, 
    h3, 
    p,
    span,
    input,
    button,
    textarea,
    select {
        font: inherit;
    }

    img,
    picture,
    svg {
        max-inline-size: 100%;
        display: block;
    }

}

@layer base {
    :root {
        --color-white: #FFFFFF;
        --color-gray-100: #E8EFF2;
        --color-gray-600: #7B8BAD;
        --color-blue-950: #162542;
        --color-orange-300: #FF9B62;
        --color-orange-500: #F16718;
    }
}
